* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---------- VARIABLES ---------- */
:root {
    --primary-color: #0b3c5d;   /* Bleu institutionnel */
    --secondary-color: #1d6fa5;
    --accent-color: #f1f5f9;
    --text-color: #333333;
    --border-color: #dcdcdc;
    --success-color: #2e7d32;
    --danger-color: #c62828;
    --font-main: "Segoe UI", Arial, sans-serif;
    --btn-background-color: rgba(200, 195, 195, 0.325);
}

body {
    font-family: var(--font-main);
    background-color: var(--accent-color);
    
    color: var(--text-color);
    min-height: 100vh;
}

header {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    text-align: center;
    border-bottom: 4px solid var(--secondary-color);
}

header h1 {
    font-size: 24px;
    font-weight: 600;
}

header p {
    font-size: 14px;
    opacity: 0.9;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(35%);
}

#main-section {
    position: relative;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    width: 80vh;
    height: 50vh;
    margin-bottom: 100px;
}

#main-section h2 {
    color: var(--primary-color);
    position: absolute;
    top: 10px;
    left: 15vh; /* FOR CENTERING THE TITLE*/   
}

#main-section form {
    position: absolute;
    top: 25%;
    width: 60vh;
    height: 27vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px;
}

.tabs {
    display: flex;
    flex-direction: column;
    width: 100%;
    height:fit-content;
}

#return {
    position: absolute;
    bottom: 10px;
    left: 27vh;
    text-decoration: none;
}

footer {
    background-color: var(--primary-color);
    color: #ffffff;
    text-align: center;
    padding: 15px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    margin-top: 40px;
    font-size: 13px;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    header h1 {
        font-size: 20px;
    }
}

label {
    font-weight: 600;
    font-size: 17px;
    color: var(--primary-color);
}

input {
    position: relative;
    height: 30px;
    padding-left: 10px;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 2.2px solid var(--secondary-color);
    transition: 300ms ease-in-out;
}

input:focus {
    border-bottom: 2.2px solid var(--primary-color);
}

.btn {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 3px;
    height: 30px;
    transform: translateY(17px);
    color: #ffffff;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

.btn:hover {
    background-color: var(--primary-color);
}

#return {
    color: var(--secondary-color);
    padding: 5px;
    background-color: transparent;
    border-radius: 4px;
    transform: translateX(-25px);
    transition: 300ms ease-in-out;
}

#return:hover {
    background-color: var(--border-color);
}